.grid-container {
  max-width: 1440px;
  margin: 100px auto 0 auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(9, 220px);
    grid-gap: 10px;

    .grid-item {
      img {
        max-width: 100%;
      }

      .front {
        display: none;
      }

      &:hover {
        .front {
          display: block;
        }
        .back {
          display: none;
        }
      }

      &.cls-006,
      &.cls-023,
      &.cls-104 {
        grid-row: 1 / 4;
      }

      &.cls-043 {
        grid-row: 1 / 5;
      }

      &.cls-122 {
        grid-row: 4 / 6;
        margin-top: -40px;
      }

      &.cls-145 {
        grid-row: 4 / 8;
        margin-top: -60px;
      }

      &.cls-135 {
        grid-row: 5 / 8;
        grid-column: 3 / 5;
        margin-top: -50px;
      }

      &.cls-148 {
        grid-row: 6 / 9;
      }

      &.cls-134 {
        grid-row: 8 / 10;
        grid-column: 3 / 5;
        margin-top: -210px;
      }
    }
  }
}
