.grid-container {
  max-width: 1440px;
  margin: 100px auto;
  background-color: rgba(121, 218, 251, 0.5);

  // .grid {
  //   display: grid;
  //   grid-template-columns: repeat(4, 350px);
  //   grid-gap: 10px;

  //   .grid-item {
  //     img {
  //       max-width: 350px;
  //     }
  //   }
  // }
}

.grid-col {
  float: left;
  width: 24%;
  margin-right: 1%;
}
.grid-col--4 {
  margin-right: 0;
}

.grid-item {
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }
}
