.intro {
  position: relative;
}

.intro-wrapper {
  text-indent: -9999px;
  width: 646px;
  margin: 50px auto;
}
.intro-content {
  height: 474px;
  background: url(../assets/intro_1x.png) center top no-repeat;
}
.intro-signature {
  height: 49px;
  background: url(../assets/author_link_1x.png) right bottom no-repeat;
}